.venv/



data/processed/disease/*
!data/processed/disease/*.txt

data/processed/healthy/*
!data/processed/healthy/*.txt

data/raw/Dataset/Bags_under_the_eyes/*
!data/raw/Dataset/Bags_under_the_eyes/*.txt

data/raw/Dataset/Dark_circles_under_the_eyes/*
!data/raw/Dataset/Dark_circles_under_the_eyes/*.txt

data/raw/Dataset/Eye_diseases/*
!data/raw/Dataset/Eye_diseases/*.txt

data/raw/Dataset/Healthy/*
!data/raw/Dataset/Healthy/*.txt

data/processed/for_YOLO/*
!data/processed/for_YOLO/*.txt

data/raw/Dataset/Swelling_of_the_eyelids/*
!data/raw/Dataset/Swelling_of_the_eyelids/*.txt

data/processed/csv/*
!data/processed/csv/*.txt

data/sorting/

src/models/YOLO/bags_circles/runs

src/models/YOLO/healthy_unhealthy/classify
src/models/YOLO/healthy_unhealthy/runs
src/models/YOLO/healthy_unhealthy/train

*.pt
!src/classifier/bags_circles.pt
!src/classifier/healthy_unhealthy.pt

src/models/data/processed

*.pkl
