.venv/
data/processed/disease/*
data/processed/healthy/*
data/raw/Dataset/Bags_under_the_eyes/*
data/raw/Dataset/Dark_circles_under_the_eyes/*
data/raw/Dataset/Eye_diseases/*
data/raw/Dataset/Healthy/*
data/raw/Dataset/Swelling_of_the_eyelids/*
data/processed/csv/*
*.pkl
